<div class="my-3">
  <h4>Add New Todo</h4>
  <form (ngSubmit)="todoSubmitHandler()">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        [(ngModel)]="title"
        name="title"
        class="form-control"
        id="title"
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input
        type="text"
        [(ngModel)]="description"
        name="description"
        class="form-control"
        id="description"
      />
    </div>
    <button type="submit" class="btn btn-primary">Add Todo</button>
  </form>
  <hr />
</div>
